<app-menu></app-menu>
<div class="container text-center">
    <div class="container" style="text-align: center">
        <img src="../../../../assets/logotipo.jpeg" class="img-fluid" width="300" height="300">
    </div>
    <div *ngIf="isLogged; else loggedOut"><h2>Bienvenido {{nombreUsuario}}</h2></div>
<body>

    <script>
        let url = 'https://jsonplaceholder.typicode.com/albums' //se definio una vaiable url
        fetch(url)// solicitud a la url
        .then(response => response.json) // obtener respuesta y pasa un formato
        .then(data => console.log(data))// lee un objeto data y le pasa a consola
        .catch(error => console.log(error)) // se atrapa un error con la 
        </script>
</body>

    
</div>
