<app-menu></app-menu>
<div class="container">
  <div class="container" style="text-align: center">
    <img src="../../../../assets/logotipo.jpeg" class="img-fluid" width="300" height="300">
</div>
<h3>Registro</h3>
<form class="card m-3">
    <input class="p-2 mb-2" placeholder="nombre"/>
    <input class="p-2 mb-3" placeholder="usuario"/>
    <input type="password"  class="p-2 mb-3" placeholder="password"/>
    <label class="p-1 mb-3">ROL:</label>
    <select class="p-1 mb-3" >
        <option value="1">ADMIN</option>
        <option value="2">CLIENTE</option>
        <option value="3">TALLER</option>
    </select>
    <button (click)="addUser()" class="btn btn-success">
          Guardar</button>
</form>


  <h1 align="center">Lista de Usuarios</h1>
    <div class="table-responsive">
      <table class=" table tablesorter" id="">
        <thead class=" text-primary">
          <tr>
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Mail</th>
            <th>Rol</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let user of users'>
            <td>{{user.nombre}}</td>
            <td>{{user.nombreUsuario}}</td>
            <td>{{user.email}}</td>
            <td>{{user.rol}}</td>
            <tr>
        </tbody>
      </table>
    </div>

</div>